[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "==3.9.2"
black = "==21.5b1"

[packages]
django = "==3.2.6"
djangorestframework = "==3.12.2"
psycopg2-binary = "==2.8.6"
drf-yasg = "==1.20.0"
django-debug-toolbar = "==3.2.2"

[requires]
python_version = "3.9"
